@import "tailwindcss";
@plugin "daisyui";



:root {
  --brand-gradient: linear-gradient(
    90deg,
    #ff7a18,
    #e52e71,
    #7b2ff7
  );
}

body {
  margin: 0;
  min-width: 320px;
  font-family: Inter, system-ui, sans-serif;
  background: #ffffff;
}